.gallery-content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cell{
  width: 23vw;
  height: 23vw;
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: width 1s, height 1s;
  position:relative;

}

.cell:hover{
  width: 32vw;
  height: 32vw;
}

/*.cell:hover .gallery-image{
  width: 100%;
  height: 100%;
}*/

.content{
  background-color: black;
  width: 100%;
  height: fit-content;
  color: white;
}

.row{
  width: 80%;
  height: 28vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10vh;
}

.info{
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0.8)35%, rgba(0,0,0,0) 100%);
  display:flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 1;
}

.info:hover{
  opacity: 1;
}

.info:hover .picture-title{
  margin-left: 10%;
}

.picture-title{
  color: white;
  margin-left: 2%;
  font-size: 3.5vw;
  transition: margin-left 1s;
  position: absolute;
  top: 50%;
  left: 0;
  transform:translateY(-50%);
  white-space: nowrap;
}

.gallery-image{
  width: 30vw;
  height: 30vw;
  min-width: 30vw;
  position:absolute;
  top:50%;
  left:0;
  z-index: 0;
  transform:translateY(-50%);
  object-fit: cover;
  overflow: visible;
  //min-height: 100%;
  transition: width 1s, height 1s;
}

.headline{
  width: 100%;
  height: 70vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.headline h1{
  font-size: 1000%;
  margin-bottom: 10vh;
}

.headline h2{
  font-size: 250%;
}

.chapter-headline{
  width: 100%;
  height: 5vh;
  position:relative;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chapter-title{
  font-size: 400%;
  background-color: black;
  padding: 0 20px 0 20px;
}

.chapter-title-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position:absolute;
  top:0;
  left:0;
}

.line{
  width: 95%;
  height: 1px;
  background-color: white;
  position:absolute;
  bottom:50%;
}

.about-me{
  height: fit-content;
}

.about-me-text{
  width: 70%;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
  height: 100%;
}

.about-me-text-container{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

h1{
  font-family: Cinzel;
}

h2{
  font-family: Forum;
}

p{
  font-family: Forum;
}
