<!-- Main idea to make it look more interesting, is to let the user switch between the images and the description. The currently active component should then be in the foreground, but the other component should be still visible in the background. The Background Container will be smaller and have maybe a lower opacity. There should be a transition between the changes, where the element which is pulled from the background should grow and slowly move in the foreground.-->
<div class="detail-view-container">
  <h1 class="detail-view-title"></h1>
  <div class="detail-view-images-container">

  </div>
  <div class="detail-view-description-container">
    <p class="description-text"></p>
  </div>
</div>
